SUPABASE_URL=https://your-project-id.supabase.co
PROJECTDB_URL=postgresql://postgres:YOUR_PASSWORD@db.your-project-id.supabase.co:5432/postgres
SUPABASE_KEY=YOUR_SUPABASE_SERVICE_ROLE_KEY
NODE_ENV=production
